@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', monospace, 'Courier New', Courier;
    background-color: #191919;
    margin-top: 5px;
    margin-bottom: 5px;
}

.wrap {
    display: flex;
    justify-content: center;
}

#clock {
    height: auto;
    width: 200px;
    text-align: center;
}

h1 {
    font-size: 38px;
    text-transform: uppercase;
    color: #d4d4d4;
    padding: 25px;
}