@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', monospace, 'Courier New', Courier;
    background-color: #191919;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrap {
    display: flex;
    justify-content: center;
    text-align: center;
}

#week spacer {
    margin-right: 4px;
}

#date spacer {
    margin-right: 4px;
}

#clock {
    padding: 0 15px;
}

#clock span {
    display: inline-block;
    text-align: center;
    width: 75px;
}

#clock spacer {
    display: inline-block;
    text-align: center;
    margin: 0 10px;
}

h1 {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #d4d4d4;
    padding: 0 25px;
}